@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Raleway:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.App {
  display: flex;
  flex-direction: column;
}

.nav-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* border: solid 1px black; */
}

.nav-container h1,
h2 {
  text-align: center;
  margin-left: 3vw;
  text-shadow: 0.4px 0.4px white;
}

.nav-container h1 {
  font-size: 4vw;
  font-family: "Architects Daughter", cursive;
}
.nav-container h2 {
  font-size: 3vw;
  font-weight: 200;
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list li {
  font-size: 7vw;
  margin: 1vw;
  cursor: pointer;
  transform: translate(-6vw);
}

.nav-list li:hover {
  color: #a822fd;
}

.about-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw 0 9vh 0;
  background: #fef225;
  transition: 0.6s ease-in;
}
.about-container h3 {
  padding: 2vw;
}

.icons-div {
  display: flex;
  flex-basis: auto;
  flex-wrap: wrap;
  flex-direction: column;
  align-self: flex-end;
  align-items: center;
  margin: 10vw 10vw 0 0;
}

.tech-icon {
  font-size: 16vw;
  margin: 3vw;
  transition: all 0.4s ease-out;
}

.tech-icon:hover {
  transform: scale(0.85);
}

.about-container:hover {
  text-shadow: 1px 2px white;
}

#resume-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3vh;
}

#resume-btn {
  font-size: 6vw;
  font-weight: 700;
  padding: 2vw 4vw;
  color: white;
  background: #000;
  outline: none;
  border: none;
  cursor: pointer;
  font-family: "Architects Daughter", cursive;

  border-radius: 10px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  background: #fffeef;
}

.projects-header {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #333;
  color: #fff;
}

.projects-header h3 {
  margin: 2vw;
  font-size: 5vw;
  font-weight: 700;
}

#chevron {
  outline: none;
  cursor: pointer;
  border: none;
  background: none;

  margin: 0;
  padding: 0;
  font-size: 4vw;
  color: #fff;
}

.project-box {
  display: flex;
  width: 90vw;
  height: 50vh;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  align-items: flex-end;
  transition: all 0.5s;
  margin: 2vh 0;

  border: solid 1px #aaa;
}

.box-hover {
  transition: all 0.5s;
  transform: scale(1.05);
}

.project-box div {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 8vh;
  width: 100%;
  background: whitesmoke;
  color: #333;
  text-align: center;
  transition: all 0.3s;
}

.git-link {
  font-size: 7vw;
  margin-left: 2vw;
}

.git-link:hover {
  color: purple;
}

.title-hidden {
  opacity: 0;
  transform: translateY(5vh);
}

.title-shown {
  opacity: 1;
}

.footer {
  display: flex;
  justify-content: flex-start;
  background: linear-gradient(
    to left,
    rgba(224, 69, 255, 0.596),
    rgba(226, 28, 210, 0.596)
  );
  align-items: center;
}

.footer-block {
  background: #333;
  /* height: 1vh; */
  width: 100%;
}

.footer-img {
  width: 50%;
}

.footer-img img {
  width: 50%;
  border-radius: 50%;
}

.footer-text {
  border-left: solid 1px #aaa;
  /* height: 8vh; */
}

.footer-text h4 {
  font-size: 4vw;
}

.footer-text p {
  margin-top: -3vw;
  font-size: 3vw;
  color: #444;
}

@media only screen and (min-width: 1000px) {
  .nav-container {
    height: 15vh;
  }

  .nav-container h1 {
    font-size: 2vw;
  }

  .nav-container h2 {
    font-size: 1.5vw;
  }

  .nav-list li {
    font-size: 5vw;
  }
}

@media only screen and (min-width: 1250px) {
  .nav-container h1 {
    font-size: 2vw;
  }

  .nav-container h2 {
    font-size: 1.5vw;
  }

  .nav-list li {
    font-size: 3vw;
  }
}

/* @media only screen and (min-width: 1000px) {
  .nav-container h1 {
    font-size: 2vw;
  }

  .nav-container h2 {
    font-size: 1.5vw;
  }
} */
